{% extends 'base.html' %}

{% block content %}
<div class="container">

<!-- {% for post in posts %}
{% if forloop.first %}
<h1>These are all the posts from {{post.author.username}}</h1>
{% endif %} -->
<!-- <h1>These are all the posts from bob {{post.author.username}}</h1>
{% endfor %}
<br> -->

<!-- Below method is better since it doesn't unnecessarily make it go through for loop more than necessary.  But above method good for reference of technique if for loop.first -->

{% for item in z %}

<h1>These are all the posts from {{item.author.username}}</h1>

{% endfor %}
<br>

{% for post in posts.all %}
<div class="col-sm-7" style="border-bottom:1px solid lightgrey;" >
<table >
  <tr>
    <td style="padding-right:20px;">
      <br>
      <form method="POST" action="{% url 'posts:upvote' post.id %}" >
      {% csrf_token %}
    <button type="submit" class="btn btn-primary"  style="background-color:grey;"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></button>
  </form><br> <p class="text-center">{{post.votes_total}}</p> <br><form method="POST" action="{% url 'posts:downvote' post.id %}" >
      {% csrf_token %}
    <button type="submit" class="btn btn-primary" style="background-color:grey;"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></button>
    </form>
    <br>
  </td>
    <td><a href="{{post.url}}">{{post.title}}</a><br>{{post.pub_date}} by
    <a href="{% url 'userposts'  %}">{{post.author.username}} </a></td>
  </tr>
</table>
</div>
{% endfor %}

</div>
{% endblock %}
